doctype html

html(lang='en')
  head
    meta(name='viewport', content="width=device-width, initial-scale=1.0")

    link(rel='stylesheet', type='text/css', href='./public/style/style.css')
    meta(charset='utf-8')
    title The HTML5 Herald
    meta(name='description', content='The HTML5 Herald')
    meta(name='author', content='SitePoint')
  body
    form(method='POST', action='/cool')
      input.input(type='text', name='cool')
      input.input(type='text', name='nothing')
      button(type='submit')  hi
    each image in images
        img(src="./uploads/" + image,  alt="asdfs" height="300" width="300")
